In [1]:
import csv
import pandas as pd
from random import sample
df=pd.read_csv('train.csv')
print(df)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

In [2]:
#simple random sampling
no_of_elements=10
random_index=sample(range(df.shape[0]),no_of_elements)
print(random_index)
print(df.iloc[random_index])

[354, 156, 298, 152, 306, 205, 153, 389, 274, 475]
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
354  LP002143  Female     Yes          0      Graduate            No
156  LP001541    Male     Yes          1      Graduate            No
298  LP001955  Female      No          0      Graduate            No
152  LP001531    Male      No          0      Graduate            No
306  LP001993  Female      No          0      Graduate            No
205  LP001692  Female      No          0  Not Graduate            No
153  LP001532    Male     Yes          2  Not Graduate            No
389  LP002250    Male     Yes          0      Graduate            No
274  LP001896    Male     Yes          2      Graduate            No
475  LP002527    Male     Yes          2      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
354             2423              505.0       130.0             360.0
156             6000                0.0       160.0             360.0
298             5000             2541.0       151.0             480.0
152             9166                0.0       244.0             360.0
306             3762             1666.0       135.0             360.0
205             4408                0.0       120.0             360.0
153             2281                0.0       113.0             360.0
389             5488                0.0       125.0             360.0
274             3900                0.0        90.0             360.0
475            16525             1014.0       150.0             360.0

     Credit_History Property_Area Loan_Status
354             1.0     Semiurban           Y
156             NaN         Rural           Y
298             1.0         Rural           N
152             1.0         Urban           N
306             1.0         Rural           Y
205             1.0     Semiurban           Y
153             1.0         Rural           N
389             1.0         Rural           Y
274             1.0     Semiurban           Y
475             1.0         Rural           Y

In [3]:
#systematic sampling
k=10
index=[i for i in range(df.shape[0]) if i%k==0]
print(df.iloc[index])

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
10   LP001024    Male     Yes          2      Graduate            No
20   LP001043    Male     Yes          0  Not Graduate            No
30   LP001091    Male     Yes          1      Graduate           NaN
40   LP001119    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
570  LP002842    Male     Yes          1      Graduate            No
580  LP002892    Male     Yes          2      Graduate            No
590  LP002928    Male     Yes          0      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN
610  LP002979    Male     Yes         3+      Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
10              3200              700.0        70.0             360.0
20              7660                0.0       104.0             360.0
30              4166             3369.0       201.0             360.0
40              3600                0.0        80.0             360.0
..               ...                ...         ...               ...
570             3417             1750.0       186.0             360.0
580             6540                0.0       205.0             360.0
590             3000             3416.0        56.0             180.0
600              416            41667.0       350.0             180.0
610             4106                0.0        40.0             180.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
10              1.0         Urban           Y
20              0.0         Urban           N
30              NaN         Urban           N
40              1.0         Urban           N
..              ...           ...         ...
570             1.0         Urban           Y
580             1.0     Semiurban           Y
590             1.0     Semiurban           Y
600             NaN         Urban           N
610             1.0         Rural           Y

[62 rows x 13 columns]

In [4]:
#stratified sampling
#stratas formed based on education
no_of_elements=4
unique=list(set(df['Education']))
print('strata:',unique,'\n')
index_set=[sample(list(df.index[df['Education']==i]),no_of_elements)for i in unique]
index=[j for i in index_set for j in i]
print(df.iloc[index])

strata: ['Not Graduate', 'Graduate']

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
463  LP002489  Female      No          1  Not Graduate           NaN
98   LP001334    Male     Yes          0  Not Graduate            No
3    LP001006    Male     Yes          0  Not Graduate            No
510  LP002637    Male      No          0  Not Graduate            No
381  LP002229    Male      No          0      Graduate            No
516  LP002670  Female     Yes          2      Graduate            No
339  LP002114  Female      No          0      Graduate            No
488  LP002555    Male     Yes          2      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
463             5191                0.0       132.0             360.0
98              4188                0.0       115.0             180.0
3               2583             2358.0       120.0             360.0
510             3598             1287.0       100.0             360.0
381             5941             4232.0       296.0             360.0
516             2031             1632.0       113.0             480.0
339             4160                0.0        71.0             360.0
488             4583             2083.0       160.0             360.0

     Credit_History Property_Area Loan_Status
463             1.0     Semiurban           Y
98              1.0     Semiurban           Y
3               1.0         Urban           Y
510             1.0         Rural           N
381             1.0     Semiurban           Y
516             1.0     Semiurban           Y
339             1.0     Semiurban           Y
488             1.0     Semiurban           Y

In [6]:
#cluster sampling
#clusters formed based on the number of dependents
no_of_clusters=3
unique=list(set(df['Dependents']))
smp=sample(unique,no_of_clusters)
print("Clusters:",smp,"selected out of:",unique,'\n')
index_set=[list(df.index[df['Dependents']==i])for i in smp]
index=[j for i in index_set for j in i]
print(df.iloc[index])

Clusters: ['1', '0', nan] selected out of: [nan, '3+', '1', '0', '2']

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
1    LP001003    Male     Yes          1      Graduate            No
9    LP001020    Male     Yes          1      Graduate            No
16   LP001034    Male      No          1  Not Graduate            No
21   LP001046    Male     Yes          1      Graduate            No
24   LP001052    Male     Yes          1      Graduate           NaN
..        ...     ...     ...        ...           ...           ...
603  LP002958    Male      No          0      Graduate            No
605  LP002960    Male     Yes          0  Not Graduate            No
608  LP002974    Male     Yes          0      Graduate            No
609  LP002978  Female      No          0      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
1               4583             1508.0       128.0             360.0
9              12841            10968.0       349.0             360.0
16              3596                0.0       100.0             240.0
21              5955             5625.0       315.0             360.0
24              3717             2925.0       151.0             360.0
..               ...                ...         ...               ...
603             3676             4301.0       172.0             360.0
605             2400             3800.0         NaN             180.0
608             3232             1950.0       108.0             360.0
609             2900                0.0        71.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
1               1.0         Rural           N
9               1.0     Semiurban           N
16              NaN         Urban           Y
21              1.0         Urban           Y
24              NaN     Semiurban           N
..              ...           ...         ...
603             1.0         Rural           Y
605             1.0         Urban           N
608             1.0         Rural           Y
609             1.0         Rural           Y
613             0.0     Semiurban           N

[447 rows x 13 columns]