In [1]:
import pandas as pd
from random import sample
df=pd.read_csv("train.csv")

In [3]:
#simple random sampling
num=12
random_index=sample(range(df.shape[0]),num)
print(random_index)
print(df.iloc[random_index])

[535, 187, 488, 20, 130, 83, 30, 32, 509, 227, 234, 210]
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
535  LP002732    Male      No          0  Not Graduate           NaN
187  LP001643    Male     Yes          0      Graduate            No
488  LP002555    Male     Yes          2      Graduate           Yes
20   LP001043    Male     Yes          0  Not Graduate            No
130  LP001469    Male      No          0      Graduate           Yes
83   LP001273    Male     Yes          0      Graduate            No
30   LP001091    Male     Yes          1      Graduate           NaN
32   LP001097    Male      No          1      Graduate           Yes
509  LP002634  Female      No          1      Graduate            No
227  LP001758    Male     Yes          2      Graduate            No
234  LP001778    Male     Yes          1      Graduate            No
210  LP001708  Female      No          0      Graduate            No

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
535             2550             2042.0       126.0             360.0
187             2383             2138.0        58.0             360.0
488             4583             2083.0       160.0             360.0
20              7660                0.0       104.0             360.0
130            20166                0.0       650.0             480.0
83              6000             2250.0       265.0             360.0
30              4166             3369.0       201.0             360.0
32              4692                0.0       106.0             360.0
509            13262                0.0        40.0             360.0
227             6250             1695.0       210.0             360.0
234             3155             1779.0       140.0             360.0
210            10000                0.0       214.0             360.0

     Credit_History Property_Area Loan_Status
535             1.0         Rural           Y
187             NaN         Rural           Y
488             1.0     Semiurban           Y
20              0.0         Urban           N
130             NaN         Urban           Y
83              NaN     Semiurban           N
30              NaN         Urban           N
32              1.0         Rural           N
509             1.0         Urban           Y
227             1.0     Semiurban           Y
234             1.0     Semiurban           Y
210             1.0     Semiurban           N

In [5]:
#systematic sampling
k=20
ind=[i for i in range(df.shape[0]) if i%k==0]
print(ind)
print(df.iloc[ind])

[0, 20, 40, 60, 80, 100, 120, 140, 160, 180, 200, 220, 240, 260, 280, 300, 320, 340, 360, 380, 400, 420, 440, 460, 480, 500, 520, 540, 560, 580, 600]
      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
20   LP001043    Male     Yes          0  Not Graduate            No
40   LP001119    Male      No          0      Graduate            No
60   LP001205    Male     Yes          0      Graduate            No
80   LP001265  Female      No          0      Graduate            No
100  LP001345    Male     Yes          2  Not Graduate            No
120  LP001426    Male     Yes        NaN      Graduate            No
140  LP001497    Male     Yes          2      Graduate            No
160  LP001560    Male     Yes          0  Not Graduate            No
180  LP001633    Male     Yes          1      Graduate            No
200  LP001674    Male     Yes          1  Not Graduate            No
220  LP001736    Male     Yes          0      Graduate            No
240  LP001798    Male     Yes          2      Graduate            No
260  LP001865    Male     Yes          1      Graduate            No
280  LP001910    Male      No          1  Not Graduate           Yes
300  LP001964    Male     Yes          0  Not Graduate            No
320  LP002051    Male     Yes          0      Graduate            No
340  LP002115    Male     Yes         3+  Not Graduate            No
360  LP002161  Female      No          1      Graduate            No
380  LP002226    Male     Yes          0      Graduate           NaN
400  LP002288    Male     Yes          2  Not Graduate            No
420  LP002348    Male     Yes          0      Graduate            No
440  LP002408    Male      No          0      Graduate            No
460  LP002478     NaN     Yes          0      Graduate           Yes
480  LP002534  Female      No          0  Not Graduate            No
500  LP002603  Female      No          0      Graduate            No
520  LP002689    Male     Yes          2  Not Graduate            No
540  LP002741  Female     Yes          1      Graduate            No
560  LP002807    Male     Yes          2  Not Graduate            No
580  LP002892    Male     Yes          2      Graduate            No
600  LP002949  Female      No         3+      Graduate           NaN

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
20              7660                0.0       104.0             360.0
40              3600                0.0        80.0             360.0
60              2500             3796.0       120.0             360.0
80              3846                0.0       111.0             360.0
100             4288             3263.0       133.0             180.0
120             5667             2667.0       180.0             360.0
140             5042             2083.0       185.0             360.0
160             1863             1041.0        98.0             360.0
180             6400             7250.0       180.0             360.0
200             2600             2500.0        90.0             360.0
220             2221                0.0        60.0             360.0
240             5819             5000.0       120.0             360.0
260             6083             4250.0       330.0             360.0
280             4053             2426.0       158.0             360.0
300             1800             2934.0        93.0             360.0
320             2400             2167.0       115.0             360.0
340             2647             1587.0       173.0             360.0
360             4723                0.0        81.0             360.0
380             3333             2500.0       128.0             360.0
400             2889                0.0        45.0             180.0
420             5829                0.0       138.0             360.0
440             3660             5064.0       187.0             360.0
460             2083             4083.0       160.0             360.0
480             4350                0.0       154.0             360.0
500              645             3683.0       113.0             480.0
520             2192             1742.0        45.0             360.0
540             4608             2845.0       140.0             180.0
560             3675              242.0       108.0             360.0
580             6540                0.0       205.0             360.0
600              416            41667.0       350.0             180.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
20              0.0         Urban           N
40              1.0         Urban           N
60              1.0         Urban           Y
80              1.0     Semiurban           Y
100             1.0         Urban           Y
120             1.0         Rural           Y
140             1.0         Rural           N
160             1.0     Semiurban           Y
180             0.0         Urban           N
200             1.0     Semiurban           Y
220             0.0         Urban           N
240             1.0         Rural           Y
260             NaN         Urban           Y
280             0.0         Urban           N
300             0.0         Urban           N
320             1.0     Semiurban           Y
340             1.0         Rural           N
360             1.0     Semiurban           N
380             1.0     Semiurban           Y
400             0.0         Urban           N
420             1.0         Rural           Y
440             1.0     Semiurban           Y
460             NaN     Semiurban           Y
480             1.0         Rural           Y
500             1.0         Rural           Y
520             1.0     Semiurban           Y
540             1.0     Semiurban           Y
560             1.0     Semiurban           Y
580             1.0     Semiurban           Y
600             NaN         Urban           N