In [1]:
import pandas as pd
import numpy as np
df=pd.read_csv("train.csv")

In [2]:
print(df)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

In [3]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [6]:
to_drop=['Gender','Married']
df.drop(to_drop,inplace=True,axis=1)

In [7]:
print(df)

      Loan_ID Dependents     Education Self_Employed  ApplicantIncome  \
0    LP001002          0      Graduate            No             5849
1    LP001003          1      Graduate            No             4583
2    LP001005          0      Graduate           Yes             3000
3    LP001006          0  Not Graduate            No             2583
4    LP001008          0      Graduate            No             6000
..        ...        ...           ...           ...              ...
609  LP002978          0      Graduate            No             2900
610  LP002979         3+      Graduate            No             4106
611  LP002983          1      Graduate            No             8072
612  LP002984          2      Graduate            No             7583
613  LP002990          0      Graduate           Yes             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
0                  0.0         NaN             360.0             1.0
1               1508.0       128.0             360.0             1.0
2                  0.0        66.0             360.0             1.0
3               2358.0       120.0             360.0             1.0
4                  0.0       141.0             360.0             1.0
..                 ...         ...               ...             ...
609                0.0        71.0             360.0             1.0
610                0.0        40.0             180.0             1.0
611              240.0       253.0             360.0             1.0
612                0.0       187.0             360.0             1.0
613                0.0       133.0             360.0             0.0

    Property_Area Loan_Status
0           Urban           Y
1           Rural           N
2           Urban           Y
3           Urban           Y
4           Urban           Y
..            ...         ...
609         Rural           Y
610         Rural           Y
611         Urban           Y
612         Urban           Y
613     Semiurban           N

[614 rows x 11 columns]

In [8]:
df.drop([0,1,2],inplace=True)

In [9]:
print(df)

      Loan_ID Dependents     Education Self_Employed  ApplicantIncome  \
3    LP001006          0  Not Graduate            No             2583
4    LP001008          0      Graduate            No             6000
5    LP001011          2      Graduate           Yes             5417
6    LP001013          0  Not Graduate            No             2333
7    LP001014         3+      Graduate            No             3036
..        ...        ...           ...           ...              ...
609  LP002978          0      Graduate            No             2900
610  LP002979         3+      Graduate            No             4106
611  LP002983          1      Graduate            No             8072
612  LP002984          2      Graduate            No             7583
613  LP002990          0      Graduate           Yes             4583

     CoapplicantIncome  LoanAmount  Loan_Amount_Term  Credit_History  \
3               2358.0       120.0             360.0             1.0
4                  0.0       141.0             360.0             1.0
5               4196.0       267.0             360.0             1.0
6               1516.0        95.0             360.0             1.0
7               2504.0       158.0             360.0             0.0
..                 ...         ...               ...             ...
609                0.0        71.0             360.0             1.0
610                0.0        40.0             180.0             1.0
611              240.0       253.0             360.0             1.0
612                0.0       187.0             360.0             1.0
613                0.0       133.0             360.0             0.0

    Property_Area Loan_Status
3           Urban           Y
4           Urban           Y
5           Urban           Y
6           Urban           Y
7       Semiurban           N
..            ...         ...
609         Rural           Y
610         Rural           Y
611         Urban           Y
612         Urban           Y
613     Semiurban           N

[611 rows x 11 columns]

In [10]:
df.drop(['Dependents'],inplace=True,axis=1)

In [11]:
print(df)

      Loan_ID     Education Self_Employed  ApplicantIncome  CoapplicantIncome  \
3    LP001006  Not Graduate            No             2583             2358.0
4    LP001008      Graduate            No             6000                0.0
5    LP001011      Graduate           Yes             5417             4196.0
6    LP001013  Not Graduate            No             2333             1516.0
7    LP001014      Graduate            No             3036             2504.0
..        ...           ...           ...              ...                ...
609  LP002978      Graduate            No             2900                0.0
610  LP002979      Graduate            No             4106                0.0
611  LP002983      Graduate            No             8072              240.0
612  LP002984      Graduate            No             7583                0.0
613  LP002990      Graduate           Yes             4583                0.0

     LoanAmount  Loan_Amount_Term  Credit_History Property_Area Loan_Status
3         120.0             360.0             1.0         Urban           Y
4         141.0             360.0             1.0         Urban           Y
5         267.0             360.0             1.0         Urban           Y
6          95.0             360.0             1.0         Urban           Y
7         158.0             360.0             0.0     Semiurban           N
..          ...               ...             ...           ...         ...
609        71.0             360.0             1.0         Rural           Y
610        40.0             180.0             1.0         Rural           Y
611       253.0             360.0             1.0         Urban           Y
612       187.0             360.0             1.0         Urban           Y
613       133.0             360.0             0.0     Semiurban           N

[611 rows x 10 columns]

In [15]:
df.columns[2]

'Self_Employed'

In [16]:
df.columns[3:5] #including 3 and excluding  5

Index(['ApplicantIncome', 'CoapplicantIncome'], dtype='object')

In [17]:
df.replace(np.NaN,0)

,Loan_ID,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
3,LP001006,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [18]:
print(df.isnull().any())

Loan_ID              False
Education            False
Self_Employed         True
ApplicantIncome      False
CoapplicantIncome    False
LoanAmount            True
Loan_Amount_Term      True
Credit_History        True
Property_Area        False
Loan_Status          False
dtype: bool

In [19]:
df=pd.read_csv("train.csv")

In [20]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [21]:
df.isnull().sum().sum()

149

In [22]:
df.count()

Loan_ID              614
Gender               601
Married              611
Dependents           599
Education            614
Self_Employed        582
ApplicantIncome      614
CoapplicantIncome    614
LoanAmount           592
Loan_Amount_Term     600
Credit_History       564
Property_Area        614
Loan_Status          614
dtype: int64

In [24]:
df.shape

(614, 13)

In [25]:
df.fillna(method='bfill',inplace=True)

In [26]:
print(df.isnull().sum().sum())

0

In [27]:
import statistics as st
print("Mean ",st.mean(df['ApplicantIncome']))

Mean  5403.459283387622

In [28]:
print("Median ",st.median(df['ApplicantIncome']))
print("Standard deviation ",st.pstdev(df['ApplicantIncome']))

Median  3812.5
Standard deviation  6104.064856533892

In [29]:
print("Standard deviation ",st.stdev(df['ApplicantIncome']))

Standard deviation  6109.041673387178

In [30]:
print(df['Education'].value_counts())

Graduate        480
Not Graduate    134
Name: Education, dtype: int64

In [31]:
df.iloc[5]

Loan_ID              LP001011
Gender                   Male
Married                   Yes
Dependents                  2
Education            Graduate
Self_Employed             Yes
ApplicantIncome          5417
CoapplicantIncome      4196.0
LoanAmount              267.0
Loan_Amount_Term        360.0
Credit_History            1.0
Property_Area           Urban
Loan_Status                 Y
Name: 5, dtype: object